body {
  background-color: rgb(206, 241, 228);
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__img {
  height: 136px;
  width: 160px;
  border-radius: 7px;
  justify-content: center;
}
.card__link {
  background-color: black;
  color: aliceblue;
  font-size: 18px;
  border: 3px black solid;
  border-radius: 15px;
  text-decoration: none;
  padding: 2px 10px 2px 10px;
}
